body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

nav {
    padding: 30px 0;
    background-color: aliceblue;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #ddd;
    text-decoration: underline;
}

header {
    min-height: 1000px;
    background-image: url("img/image_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 5px;
}
